aio-pika==9.4.3
aiosmtplib==3.0.1
annotated-types==0.7.0
anyio==4.7.0
fastapi==0.115.12
pydantic==2.10.6
pydantic-settings==2.7.1
python-dotenv==1.0.1
SQLAlchemy==2.0.41
psycopg2-binary==2.9.10
uvicorn==0.34.3
uvloop==0.21.0
py_eureka_client
prometheus-fastapi-instrumentator
